<div class="afterSubmitApplicationBox">
    <hr>
    <h1>Application Submitted!</h1>
    <hr>
    <p>Your application has been recorded in our database. A recruiter will contact you shortly if your application is selected!</p>
    <h2>Select an action...</h2>
    <br>
    <a class="btn btn-primary btn-lg" href="/afterlogin" role="button">Apply More</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">Logout</a>
</div>