<div class=applicantViewApplicationBox>
    <h1>Application Description</h1>
    <p>Job Name: {{jobName}}</p>
    <p>Application Time: {{applicationTime}}</p>
    <p>Application Status: {{applicationStatus}}</p>
</div>    
