<div class=applicantViewApplicationBox>
    <h2>Application Description</h2>
    <p>Job Name: {{jobName}}</p>
    <p>Application Time: {{applicationTime}}</p>
    <p>Application Status: {{applicationStatus}}</p>
</div>    
