<div class=changeStatusBox>
    <h1>Change Status</h1>
    <br>
    <form method="POST" id="statusButton" action="/employer/applicationStatus/{{jobId}}/{{userId}}">
    <input type="radio" id="statusPending" name="radioButton" value="Pending" checked>
    <label for="status">Pending</label>
    <br>
    <input type="radio" id="statusInterview" name="radioButton" value="Interview">
    <label for="status">Interview</label>
    <br>
    <input type="radio" id="statusAccepted" name="radioButton" value="Accepted">
    <label for="status">Accepted</label>
    <br>
    <input type="radio" id="statusRejected" name="radioButton" value="Rejected">
    <label for="status">Rejected </label>
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
