<div class='container'>
    <form id='postNewJob'>
        <table class='table table-striped'>
            <tr>
                <th><label>Job Title:</label></th>
                <td></td>
                <td><input class='form-control' type='text' name='jobTitle' required></td>
            </tr>
            <tr>
                <th><label>Job Type:</label></th>
                <td></td>
                <td><select class="form-control" id='jobType' name="jobType" required>
                        <option value="">-</option>
                        <option value="FT">Full-time</option>
                        <option value="PT">Part-Time</option>
                        <option value="CT">Contract</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label>Job Location:</label></th>
                <td></td>
                <td><input class='form-control' type='text' name='jobLocation' required></td>
            </tr>
            <tr>
                <th><label>Job Designation:</label></th>
                <td></td>
                <td><input type='text' name='designation' class='form-control' required></td>
            </tr>
            <tr>
                <th><label>Experience Level:</label></th>
                <td></td>
                <td><select id='experienceLevel'class="form-control" name='experienceLevel'>
                        <option value="">-</option>
                        <option value="internship">Internship</option>
                        <option value="entryLevel">Entry Level</option>
                        <option value="associate">Associate</option>
                        <option value="midSenior">Mid-Senior</option>
                        <option value="director">Director</option>
                        <option value="executive">Executive</option>
                    </select></td>
            </tr>
            <tr>
                <th><label>Job Description:</label></th>
                <td></td>
                <td><textarea rows="4" class="form-control" name="jobDescription"></textarea></td>
            </tr>
        </table>
        <hr>
        <input type="submit" class="btn btn-primary btn-lg" name='postJob'>
    </form>
</div>