<div class="container">
    <hr>
    <h2>Hello Rectruiter Name!</h2>
    <hr>
    <h3>Select an action</h3>
    <br>
    <a class="btn btn-primary btn-lg" href="postNewJob" role="button">Post Job</a>
    <a class="btn btn-primary btn-lg" href="viewApplications" role="button">View Applications</a>
</div>