<div class="recruiterPostOrViewBox">
    <hr>
    <h1>Hello {{recruiterName}}!</h1>
    <hr>
    <h2>Select an action</h2>
    <br>
    <a class="btn btn-primary btn-lg" href="/employer/postNewJob" role="button">Post Job</a>
    <a class="btn btn-primary btn-lg" href="/employer/viewApplications" role="button">View Applications</a>
</div>