<div class='submitApplicationContainer'>
    <form method="POST" id="applicationSubmissionForm" enctype="multipart/form-data" action="/applicant/submitApplication/{{jobId}}">
        <hr>
        <h1>Document Uploads</h1>
        <hr>
        <table class='table table-striped'>
            <tr>
                <th><label for='resume'>Resume:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='resume' required></td>
            </tr>
            <tr>
                <th><label for='coverLetter'>Cover Letter:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='coverLetter'></td>
            </tr>
            <tr>
                <th><label for='transcripts'>Transcripts:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='transcripts'></td>
            </tr>
            <tr>
                <th><label for='otherDocuments'>Other Documents:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='otherDocuments'></td>
            </tr>
        </table>
        <hr>
        <h2><label for='extraComments'>Extra Comments</label></h2>
        <hr>
        <table class='table table-striped'>
            <tr>
                <td colspan="2"><input class='form-control' type='text' name='extraComments' id='extraComments'></td>
            </tr>
        </table>
        <hr>
        <input type="submit" class="btn btn-primary btn-lg" name='submitApplicationForm'>
    </form>
</div>