<div class='submitApplicationContainer'>
    <form method="POST" id="applicationSubmissionForm" enctype="multipart/form-data" action="/applicant/submitApplication/{{jobId}}">
        <hr>
        <h2>Document Uploads</h2>
        <hr>
        <table class='table table-striped'>
            <tr>
                <th><label>Resume:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='resume'></td>
            </tr>
            <tr>
                <th><label>Cover Letter:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='coverLetter'></td>
            </tr>
            <tr>
                <th><label>Transcripts:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='transcripts'></td>
            </tr>
            <tr>
                <th><label>Other Documents:</label></th>
                <td><input accept=".doc, .docx, .pdf" class='form-control' type='file' name='docs' id='otherDocuments'></td>
            </tr>
        </table>
        <hr>
        <h2>Extra Comments</h2>
        <hr>
        <table class='table table-striped'>
            <tr>
                <td colspan="2"><input class='form-control' type='text' name='extraComments' id='extraComments'></td>
            </tr>
        </table>
        <hr>
        <input type="submit" class="btn btn-primary btn-lg" name='submitApplicationForm'>
    </form>
</div>