<div class='container'>
    <h1>Entire pge should extract info from MongoDB using the userId passed in query</h1>
    <table class='table table-striped'>
        <tr>
            <th><label>First Name:</label></th>
            <td></td>
            <td><label>Manan</label></td>
        </tr>
        <tr>
            <th><label>Last Name:</label></th>
            <td></td>
            <td><label>Satra</label></td>
        </tr>
        <tr>
            <th><label>Email:</label></th>
            <td></td>
            <td><label>msatra@stevens.edu</label></td>
        </tr>
        <tr>
            <th><label>Phone Number:</label></th>
            <td></td>
            <td><label>111-111-1111</label></td>
        </tr>
    </table>
    <hr>
    <form method="POST">
        <input class="btn btn-primary btn-lg" type="submit" value="Download Documents">
        <div class="btn-group dropdown">

            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Application Status
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <a class="dropdown-item" href="#">Pending</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Interview</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Accepted</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Rejected</a>
            </div>

</div>
    </form>
</div>