<div class="row">
  <div class="col-sm-12">
    <form id="signup-form" method="post">
      <div class="form-userName">
          <label for="username">Enter username:</label>
          <input type="text" class="form-control" id="username" name="userName" placeholder="Enter Text" value="{{username}}">
        </div>
        <div class="usererror" id="usererror" hidden></div>

    <div class="form-email">
          <label for="email">Enter email id:</label>
          <input class="form-control" id="email" name="email" placeholder="Enter Text" type="email" value="{{email}}">
        </div>
        <div class="emailerror" id="emailerror" hidden></div>

    <div class="form-password">
          <label for="password">Enter password:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter Text" value="{{password}}">
        </div>
        <div class="passworderror" id="passworderror" hidden></div>

    <div class="form-confirmpassword">
          <label for="confirmpassword">Enter password:</label>
          <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Enter Text" value="{{confirmpassword}}">
        </div>
        <div class="confirmpassworderror" id="confirmpassworderror" hidden></div>

    <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
  </div>
</div>